// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

//overrides
atom-notifications {
  z-index: 100000 !important;
}

.form-control {
  border-color: @input-border-color;
  background-color: @button-background-color;
  font-size: @input-font-size;
  color: @text-color;
  border-radius: @component-border-radius;

  &[disabled] {
    background-color: @button-background-color;
  }

  &:hover,
  &:focus {
    background-color: @button-background-color-hover;
  }
}

.blynk-ide {

  .form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label {
      font-size: 14px;
    }

    .button-group {
      padding-top: 10px;
      flex-direction: row;
    }
  }

  .import-form {
    .form-control {
      width: 400px;
    }
  }

  .login-form {
    .form-control {
      width: 300px;
    }
  }

  .is-hidden {
    display: none;
  }

  .directory-control {
    padding: 0;
    width: 400px;
    display: flex;
    flex-direction: row;

    .directory-input {
      display: flex;
      flex-grow: 1;

    }

    .pick-directory {
      display: flex;
    }
  }

  section {
    margin-top: 10px;
    display: flex;
    align-items: center;

    .settings-view {
      flex-direction: column;
    }
  }

  .web-links {
    margin: 2*@component-padding 0px;
  }

  .quick-links {
    a {
      padding: 5px 20px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }

  .home-screen-hr {
    border-top: 1px solid @button-background-color-hover;
    width: 100%;
  }
}
